<%-include('adminNavbar')%>


<section  class="bg-success">
    <div class="container ">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-9">
  
          <h1 class="text-white mb-4">Add a category</h1>
  
          <div class="card" style="border-radius: 15px;">

            <% if (locals.message) { %>
                <div class="alert alert-danger">
                  <strong><%= message %> </strong>
                </div>
              <% } %> 

            <form action="" method="post" enctype="multipart/form-data">
            <div class="card-body">
  
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">Category Name</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <input type="text" id="name" class="form-control" name="categoryName" placeholder="Enter Category Name" required>
  
                </div>
              </div>
              
  
              <hr class="mx-n3">
  
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">Category Description</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <textarea class="form-control" rows="3" name="description"></textarea>
  
                </div>
              </div>

              <hr class="mx-n3">
              
              <div style="display: flex;">

                <div class="col-md-3 ps-5" style="flex: 1;" >
    
                  <h6 class="mb-0" >Category Image upload</h6>
  
                </div>
                <div style="flex: 1;">
                  <input type="file" class="form-control" name="file" >
                  <img id="image-preview" src="#" alt="Preview" style="display: none; max-width: 100%; max-height: 200px;">
                  <button id="delete-button" style="display: none;">Delete</button>
              </div>
              </div>
  
              <hr class="mx-n3">
  
              <div class="px-5 py-4 text-center">
                <button type="submit" class="btn btn-success btn-lg">Submit</button>
              </div>
  
            </div>
        </form>
          </div>
  
        </div>
      </div>
    </div>
  </section>