<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meubles - Admin</title>
    <link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
<link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container">
            <a href="/admin/dashboard" class="navbar-brand">
                <h1><span class="text-success">MEU</span>BLES</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-item nav-link active text-success" href="/admin/user">User</a>
                    <a class="nav-item nav-link active text-success" href="/admin/category">Category</a>
                    <a class="nav-item nav-link active text-success" href="/admin/products">Product</a>
                    <a class="nav-item nav-link active text-success" href="/admin/order">Order</a>
                    <a class="nav-item nav-link active text-success" href="/admin/coupon">Coupon</a>
                    <a type="button" class="btn btn-success ms-2" href="/admin/logout">Logout</a>
                </div>
            </div>
          </div>
        </nav>

    