<%- include('./partials/header.ejs')  -%>
<%- include('./partials/navbar.ejs')  -%>
    <div class="container text-center mt-5">
        <img src="/asset/uploads/confirm.jpg" alt="">
        <div>
            <a class="btn btn-success" href="/">Continue Shopping</a>
        </div>
    </div>
<%- include('./partials/footer.ejs')  -%>